<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="نوبار اولین سامانه حمل و نقل بار">
  <meta name="author" content="نوبار">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>نوبار - داشبورد</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/animated.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="dashboard-user.html" class="logo">
              <img height="75px" src="/assets/images/logo.png">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#services" class="active">درخواست ها</a></li>
              <li class="scroll-to-section"><a href="./home">خروج</a></li>
              <li class="scroll-to-section">
                <div class="main-red-button-hover"><a href="./driverProfile">پروفایل</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>"Menu"</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Unapproved Requests List Start ***** -->
  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="/assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="/assets/images/services-left-dec.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>لیست درخواست ها</h2>
            <span>تایید نشده</span>
          </div>
        </div>
      </div>
      <div class="row" id="list">
        <!-- it is handeled with back -->
        <p id="error5" class="success"></p>
      </div>
    </div>
  </div>
  <!-- ***** Unapproved Requests List End ***** -->

  <!-- ***** Unapproved users List Start ***** -->
  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="/assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="/assets/images/services-left-dec.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>کاربران جدید</h2>
            <span>تایید نشده</span>
          </div>
        </div>
      </div>
      <div class="row" id="usersList">
        <!-- it is handeled with back -->
        <p id="error7" class="success"></p>
      </div>
    </div>
  </div>
  <!-- ***** Unapproved users List End ***** -->

  <!-- ***** Unapproved Requests List Start ***** -->
  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="/assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="/assets/images/services-left-dec.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>لیست رانندگان</h2>
            <span>تایید نشده</span>
          </div>
        </div>
      </div>
      <div class="row" id="driversList">
        <!-- it is handeled with back -->
      </div>
    </div>
  </div>
  <!-- ***** Unapproved drivers List End ***** -->

  <!-- ***** Footer Start ***** -->
  <div class="footer-dec">
    <img src="/assets/images/footer-dec.png" alt="">
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="about footer-item">
            <div class="logo">
              <a href="#"><img src="/assets/images/logo.png" alt="NoBar"></a>
            </div>
            <a href="#">info@company.com</a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services footer-item">
            <h4>سرویس ها</h4>
            <ul>
              <li><a href="#">حمل بار بین شهری</a></li>
              <li><a href="#">اسباب کشی</a></li>
              <li><a href="#">بسته بندی بار</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="subscribe-newsletters footer-item">
            <h4>خبرنامه نوبار را دنبال کنید</h4>
            <p>تا در جریان جدید ترین اخبار ما باشید.</p>
            <form action="#" method="get">
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل خود را وارد کنید."
                required="">
              <button type="submit" id="form-submit" class="main-button"><i class="fa fa-paper-plane-o"></i></button>
          
            </form>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2023 NoBar Co., All Rights Reserved.
              <br>
              Zahra Ardaneh - Bahareh Keivani
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer End ***** -->

  <!-- Scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  <script src="/assets/js/animation.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  <!-- get unverified drivers -->
  <script>
    window.addEventListener('load', function () {
      const baseRoute = "http://127.0.0.1:4000/v1";

      //get req list items from back
      var list = [];
      var item = document.getElementById('driversList')

      //for each item we append it to the list
      var name = null;
      var email = null;
      var createdAt = null;
      var plaque = null;
      var plaqueCityNumber = null;
      var color = null;
      var carType = null;
      // var driver = null;

      axios.defaults.withCredentials = true;
      //this takes all drivesrs instead of not verified ones
      // axios.get(`${baseRoute}/getUnverifiedDrivers`).then((response) => {
      axios.get(`${baseRoute}/getUnverifiedDrivers`).then((response) => {
        console.log(response);
        list = response.data.data;

        for (var i = 0; i < list.length; i++) {

          _id = response.data.data[i]._id;
          name = response.data.data[i].name;
          email = response.data.data[i].email;
          createdAt = response.data.data[i].createdAt;
          plaque = response.data.data[i].plaque;
          plaqueCityNumber = response.data.data[i].plaqueCityNumber;
          color = response.data.data[i].color;
          carType = response.data.data[i].carType;
          // driver = response.data.data.driver.name;


          var inner =
            '<div class="row">' +

            '<div class="col-6">' +
            '        <h4>' + 'اطلاعات راننده :' + '</h4>' +
            '        <br>' +
            '<h5>' + 'کد راننده :' + '</h5>' +
            '        <p>' + _id + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'نام :' + '</h5>' +
            '        <p>' + name + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'تاریخ و زمان پیوستن:' + '</h5>' +
            '        <p>' + createdAt + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'ایمیل :' + '</h5>' +
            '        <p>' + email + '</p>' +
            '</div>' +
            '<div class="col-6">' +
            '        <h4>' + 'اطلاعات خودرو :' + '</h4>' +
            '        <br>' +
            '<h5>' + 'پلاک ماشین:' + '</h5>' +
            '        <p>' + plaque + '|' + plaqueCityNumber + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'رنگ خودرو  :' + '</h5>' +
            '        <p>' + color + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'نوع خودرو :' + '</h5>' +
            '        <p>' + (carType == 0 ? "نیسان" : (carType == 1 ? "وانت" : "کامیون")) + '</p>' +
            '</div>' +

            '</div>' +
            '<button id="verifyDriverbtn" class="btn btn-primary btn-lg btn-block" style="width: 200px;">تایید راننده</button>';

          item.appendChild(
            Object.assign(
              document.createElement('div'),
              {
                classList: 'item ',//item-width
                innerHTML: inner
              }
            )
          )
        }



      }).catch((error) => console.log(error));
    });
  </script>

  <script>
    $(document).on('click', '#verifyDriverbtn', function (event) {
      const baseRoute = "http://127.0.0.1:4000/v1";

      //send to backend using request id //TODO
      var _id = $(this).parent().children().get(0).firstChild.children.item(3).innerText;
      // console.log("id is ",$(this).parent().children().get(0).firstChild.children.item(3).innerText );
      axios.defaults.withCredentials = true;
      axios.put(`${baseRoute}/verifyDriver`, { _id: _id }).then(async (response) => {
        //based on responses success an error must be shown or the page must be redirected to dashbord
        if (response.data.success) {
          await location.reload()
        }
        let temp = document.getElementById('error7');
        temp.style.display = "block";
        temp.textContent = response.data.message;
      })
        .catch((error) => console.log(error));

      $(this).parent().hide()
      alert('درخواست مورد نظر انجام شد.')
    });
  </script>

  <!-- get unverified users -->
  <script>
    window.addEventListener('load', function () {
      const baseRoute = "http://127.0.0.1:4000/v1";

      //get req list items from back
      var list = [];
      var item = document.getElementById('usersList')

      //for each item we append it ti the list
      var name = null;
      var email = null;
      var createdAt = null;
      // var user = null;

      axios.defaults.withCredentials = true;
      axios.get(`${baseRoute}/getUnverifiedUsers`).then((response) => {
        console.log(response);
        list = response.data.data;

        for (var i = 0; i < list.length; i++) {
          _id = response.data.data[i]._id;
          name = response.data.data[i].name;
          email = response.data.data[i].email;
          createdAt = response.data.data[i].createdAt;

          var inner =
            '<h5>' + 'کد کاربر :' + '</h5>' +
            '        <p>' + _id + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'نام :' + '</h5>' +
            '        <p>' + name + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'تاریخ و زمان پیوستن:' + '</h5>' +
            '        <p>' + createdAt + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'ایمیل :' + '</h5>' +
            '        <p>' + email + '</p>' +
            '<button id="verifyUserbtn" class="btn btn-primary btn-lg btn-block mt-4" style="width: 200px;">احراز کاربر</button>';

          item.appendChild(
            Object.assign(
              document.createElement('div'),
              {
                classList: 'item item-width',
                innerHTML: inner
              }
            )
          )
        }

      });
    });
  </script>

  <script>
    $(document).on('click', '#verifyUserbtn', function (event) {
      const baseRoute = "http://127.0.0.1:4000/v1";

      //send to backend using request id //TODO
      var _id = $(this).parent().children().get(0).firstChild.children.item(3).innerText;

      axios.defaults.withCredentials = true;
      axios.put(`${baseRoute}/verifyUser`, { _id: _id }).then(async (response) => {
        //based on responses success an error must be shown or the page must be redirected to dashbord
        if (response.data.success) {
          await location.reload()
        }
        let temp = document.getElementById('error7');
        temp.style.display = "block";
        temp.textContent = response.data.message;
      })
        .catch((error) => console.log(error));

      $(this).parent().hide()
      // alert('درخواست مورد نظر انجام شد.')
    });
  </script>


  <!-- get unverified requests -->
  <script>
    const baseRoute = "http://127.0.0.1:4000/v1";
    window.addEventListener('load', function () {
      //get req list items from back
      var list = [];
      var item = document.getElementById('list')


      //for each item we append it ti the list
      var _id = null;
      var orderType = null;
      var origin = null;
      var destination = null;
      var numberOfWorker = null;
      var orderCarType = null;
      var datetime = null;
      var originFloorCount = null;
      var destinationFloorCount = null;
      var originElevatorExists = null;
      var destinationElevatorExists = null;
      // var user = null;

      axios.defaults.withCredentials = true;
      axios.get(`${baseRoute}/getUnverifiedOrders`).then((response) => {
        console.log(response);
        list = response.data.data;

        for (var i = 0; i < list.length; i++) {
          _id = response.data.data[i]._id;
          orderType = response.data.data[i].orderType;
          origin = response.data.data[i].origin;
          destination = response.data.data[i].destination;
          numberOfWorker = response.data.data[i].numberOfWorker;
          orderCarType = response.data.data[i].orderCarType;
          datetime = response.data.data[i].datetime;
          originFloorCount = response.data.data[i].originFloorCount;
          destinationFloorCount = response.data.data[i].destinationFloorCount;
          originElevatorExists = response.data.data[i].originElevatorExists;
          destinationElevatorExists = response.data.data[i].destinationElevatorExists;
          // user = response.data.data.user.name;

          var extraCol = ('<div class="col-4">' +
            '        <h5>' + 'تعداد طبقات مبدا:' + '</h5>' +
            '        <p>' + originFloorCount + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'آسانسور باربری در مبدا :' + '</h5>' +
            '        <p>' + (originElevatorExists ? "دارد" : "ندارد") + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'تعداد طبقات مقصد:' + '</h5>' +
            '        <p>' + destinationFloorCount + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'آسانسور باربری در مقصد :' + '</h5>' +
            '        <p>' + (destinationElevatorExists ? "دارد" : "ندارد") + '</p>' +
            '</div>');

          var inner =
            '<div class="row">' +
            '<div class="col-4">' +
            '        <h5>' + 'کد درخواست  :' + '</h5>' +
            '        <p id="dbId">' + _id + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'آدرس مبدا :' + '</h5>' +
            '        <p>' + origin + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'آدرس مقصد :' + '</h5>' +
            '        <p>' + destination + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'نوع درخواست :' + '</h5>' +
            '        <p>' + (orderType == 1 ? "اثاث کشی" : "جا به جایی بار") + '</p>' +
            '</div>' +
            '<div class="col-4">' +
            '<h5>' + 'تاریخ و زمان درخواست:' + '</h5>' +
            '        <p>' + datetime + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'تعداد کارگران:' + '</h5>' +
            '        <p>' + numberOfWorker + '</p>' +
            '        <hr class="m-1">' +
            '<h5>' + 'نوع خودرو :' + '</h5>' +
            '        <p>' + (orderCarType == 0 ? "نیسان" : (orderCarType == 1 ? "وانت" : "کامیون")) + '</p>' +
            '</div>' +
            (orderType == 1 ? extraCol : '') +
            '</div>' +
            '<button id="btn" class="btn btn-primary btn-lg btn-block" style="width: 200px;">تایید درخواست</button>';

          item.appendChild(
            Object.assign(
              document.createElement('div'),
              {
                classList: 'item ',//item-width
                innerHTML: inner
              }
            )
          )
        }



      }).catch((error) => console.log(error));

    })
  </script>

  <!-- verify order on click -->
  <script>

    $(document).on('click', '#btn', function (event) {
      const baseRoute = "http://127.0.0.1:4000/v1";
      //send to backend using request id //TODO
      var _id = $(this).parent().children().get(0).firstChild.children.item(1).innerText;

      axios.defaults.withCredentials = true;

      axios.put(`${baseRoute}/verifyOrder`, { _id: _id }).then(async (response) => {
        //based on responses success an error must be shown or the page must be redirected to dashbord
        if (response.data.success) {
          await location.reload()
        }
        let temp = document.getElementById('error5');
        temp.style.display = "block";
        temp.textContent = response.data.message;
      })
        .catch((error) => console.log(error));

      $(this).parent().hide()
      // alert('درخواست مورد نظر انجام شد.')
    });
  </script>
</body>

</html>