<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="نوبار اولین سامانه حمل و نقل بار">
  <meta name="author" content="نوبار">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>نوبار - داشبورد</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/animated.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="dashboard-user.html" class="logo">
              <img height="75px" src="/assets/images/logo.png">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#services" class="active">درخواست ها</a></li>
              <li class="scroll-to-section"><a href="#contact">ارتباط با ما</a></li>
              <li class="scroll-to-section"><a href="./home">خروج</a></li>
              <li class="scroll-to-section">
                <div class="main-red-button-hover"><a href="./driverProfile">پروفایل</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>"Menu"</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Requests List Start ***** -->
  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="/assets/images/services-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="/assets/images/services-left-dec.png" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>لیست درخواست ها</h2>
            <span>پاسخ داده نشده</span>
          </div>
        </div>
      </div>
      <div class="row" id="list">
        <!-- it is handeled with back -->
      </div>
    </div>
  </div>
  <!-- ***** Requests List End ***** -->

  <!-- ***** Contact Us Start ***** -->
  <div id="contact" class="contact-us section">
    <div class="container">
      <h2 style="margin-bottom: 30px;">ارتباط با ما</h2>
      <div class="row">
        <div class="col-sm-12 align-self-center">
          <form id="contact" action="" method="get">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="نام" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="نام خانوادگی" autocomplete="on"
                    required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea id="website" name="website" rows="4" cols="50" placeholder="پیام خود را بنویسید."
                    required></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">ارسال پیام</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="info">
            <span><i class="fa fa-phone"></i> <a href="#">010-020-0340<br>090-080-0760</a></span>
            <span><i class="fa fa-envelope"></i> <a href="#">info@company.com<br>mail@company.com</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-dec">
      <img src="/assets/images/contact-dec.png" alt="">
    </div>
  </div>
  <!-- ***** Contacr Us End ***** -->

  <!-- ***** Footer Start ***** -->
  <div class="footer-dec">
    <img src="/assets/images/footer-dec.png" alt="">
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="about footer-item">
            <div class="logo">
              <a href="#"><img src="/assets/images/logo.png" alt="NoBar"></a>
            </div>
            <a href="#">info@company.com</a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services footer-item">
            <h4>Services</h4>
            <ul>
              <li><a href="#">حمل بار بین شهری</a></li>
              <li><a href="#">اسباب کشی</a></li>
              <li><a href="#">بسته بندی بار</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="subscribe-newsletters footer-item">
            <h4>خبرنامه نوبار را دنبال کنید</h4>
            <p>تا در جریان جدید ترین اخبار ما باشید.</p>
            <form action="#" method="get">
              <button type="submit" id="form-submit" class="main-button"><i class="fa fa-paper-plane-o"></i></button>
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل خود را وارد کنید."
                required="">
            </form>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2023 NoBar Co., All Rights Reserved.
              <br>
              Zahra Ardaneh - Bahareh Keivani
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer End ***** -->

  <!-- Scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  <script src="/assets/js/animation.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- get req list from back -->
  <!-- TODO -->

<script>
  const baseRoute = "http://127.0.0.1:4000/v1";
  window.addEventListener('load', function () {
    //get req list items from back
    var list = [];
    var item = document.getElementById('list')


    //for each item we append it ti the list
    var _id = null;
    var orderType = null;
    var origin = null;
    var destination = null;
    var numberOfWorker = null;
    var orderCarType = null;
    var datetime = null;
    var originFloorCount = null;
    var destinationFloorCount = null;
    var originElevatorExists = null;
    var destinationElevatorExists = null;
    // var user = null;

    axios.defaults.withCredentials = true;
    axios.get(`${baseRoute}/getDriverlessOrders`).then((response) => {
      console.log(response);
      list = response.data.data;

      for(var i=0;i<list.length;i++) {
        _id = response.data.data[i]._id;
      orderType = response.data.data[i].orderType;
      origin = response.data.data[i].origin;
      destination = response.data.data[i].destination;
      numberOfWorker = response.data.data[i].numberOfWorker;
      orderCarType = response.data.data[i].orderCarType;
      datetime = response.data.data[i].datetime;
      originFloorCount = response.data.data[i].originFloorCount;
      destinationFloorCount = response.data.data[i].destinationFloorCount;
      originElevatorExists = response.data.data[i].originElevatorExists;
      destinationElevatorExists = response.data.data[i].destinationElevatorExists;
      // user = response.data.data.user.name;

      var extraCol = ('<div class="col-4">' + 
      '        <h5>' + 'تعداد طبقات مبدا:' + '</h5>' +
      '        <p>' + originFloorCount + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'آسانسور باربری در مبدا :' + '</h5>' +
      '        <p>' + (originElevatorExists ? "دارد" : "ندارد") + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'تعداد طبقات مقصد:' + '</h5>' +
      '        <p>' + destinationFloorCount + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'آسانسور باربری در مقصد :' + '</h5>' +
      '        <p>' + (destinationElevatorExists ? "دارد" : "ندارد") + '</p>' +
      '</div>');

    var inner =
      '<div class="row">' + 
      '<div class="col-4">' + 
      '        <h5>' + 'درخواست  :' + '</h5>' +
      '        <p>' + _id + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'آدرس مبدا :' + '</h5>' +
      '        <p>' + origin + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'آدرس مقصد :' + '</h5>' +
      '        <p>' + destination + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'نوع درخواست :' + '</h5>' +
      '        <p>' + (orderType == 1 ? "اثاث کشی" : "جا به جایی بار" )+ '</p>' +
      '</div>' +
      '<div class="col-4">' + 
      '<h5>' + 'تاریخ و زمان درخواست:' + '</h5>' +
      '        <p>' + datetime + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'تعداد کارگران:' + '</h5>' +
      '        <p>' + numberOfWorker + '</p>' +
      '        <hr class="m-1">' +
      '<h5>' + 'نوع خودرو :' + '</h5>' +
      '        <p>' + (orderCarType == 0 ? "نیسان" : (orderCarType == 1 ? "وانت" : "کامیون") )+ '</p>' +
      '</div>' +
      (orderType == 1 ? extraCol : '' )+
      '</div>' +
      '<button id="btn" class="btn btn-primary btn-lg btn-block" style="width: 200px;">قبول درخواست</button>';

      item.appendChild(
      Object.assign(
        document.createElement('div'),
        {
          classList: 'item ',//item-width
          innerHTML: inner
        }
      )
    )
      }
  }).catch((error) => console.log(error));

})
</script>


  <!-- on click on submit-->
  <script>
    $(document).on('click', '#btn', function (event) {
      //send to backend using request id //TODO
      var _id = $(this).parent().children().get(0).firstChild.children.item(1).innerText;

      axios.defaults.withCredentials = true;

      axios.put(`${baseRoute}/acceptOrder`, { _id : _id}).then( async (response) => {
        //based on responses success an error must be shown or the page must be redirected to dashbord
        if (response.data.success) {
          await location.reload()
        }
        let temp = document.getElementById('error5');
        temp.style.display = "block";
        temp.textContent = response.data.message;
      })
        .catch((error) => console.log(error));

      $(this).parent().hide()
      // alert('درخواست مورد نظر انجام شد.')
    });
  </script>

</body>

</html>