<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="نوبار اولین سامانه حمل و نقل بار">
  <meta name="author" content="نوبار">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>نوبار - داشبورد</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/animated.css">
</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="dashboard-user.html" class="logo">
              <img height="75px" src="/assets/images/logo.png">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#order" class="active">سفارش</a></li>
              <li class="scroll-to-section"><a href="#contact">ارتباط با ما</a></li>
              <li class="scroll-to-section"><a href="./userProfile">پروفایل</a></li>
              <!-- <li class="scroll-to-section"><button type="button" id="logout">خروج</button></li> -->
              <li class="scroll-to-section">
                <div class="main-red-button-hover"><button type="button" id="logout">خروج</button></div>
              </li>

            </ul>
            <a class='menu-trigger'>
              <span>"Menu"</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Order Start ***** -->
  <div class="order-box" id="order">
    <div class="container">
      <h2 class="py-5 text-center">ثبت سفارش</h2>
      <form class="needs-validation" novalidate="" id="orderForm">
        <div class="row" id="x">
          <div class="col-6">
            <div class="mb-3">
              <label for="origin">آدرس مبدا</label>
              <div class="input-group">
                <input type="text" class="form-control needs-validation-delivery clearForm" name="origin" placeholder=""
                  required="">
                <div class="invalid-feedback" style="width: 100%;"> آدرس مبدا یک فیلد الزامی است. </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="destination">آدرس مقصد</label>
              <div class="input-group">
                <input type="text" class="form-control needs-validation-delivery clearForm" name="destination"
                  placeholder="" required="">
                <div class="invalid-feedback" style="width: 100%;"> آدرس مقصد یک فیلد الزامی است. </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="workers">تعداد کارگران</label>
              <div class="input-group">
                <input type="number" min="0" class="form-control needs-validation-delivery clearForm"
                  name="numberOfWorker" placeholder="" required="">
                <div class="invalid-feedback" style="width: 100%;">لطفا تعداد کارگران را وارد کنید.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="datetime">تاریخ و زمان</label>
              <div class="input-group">
                <input type="datetime-local" class="form-control needs-validation-delivery clearForm" name="datetime"
                  placeholder="" required="">
                <div class="invalid-feedback" style="width: 100%;">لطفا تاریخ و زمان مورد نظر خود را انتخاب کنید.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="custom-control custom-radio">
                  <input id="moving" name="orderType" type="radio" required="" value="1">
                  <label for="moving">اثاث‌کشی</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="delivery" name="orderType" type="radio" checked required="" value="0">
                  <label class="mb-4" for="delivery">جا به جایی بار</label>
                </div>
              </div>
              <div class="col-6 ">
                <h6>نوع ماشین</h6>
                <!--handeled with js  -->
                <div id="carTypeRadio">
                  <input type="radio" class="mt-1" id="carTypeVanet" name="orderCarType" value="1">
                  <label for="carTypeVanet">وانت &nbsp</label>
                  <input type="radio" id="carTypeNeisan" name="orderCarType" value="0">
                  <label class="mb-4" for="carTypeNeisan">نیسان</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6" style="display: none;" id="moving-extraInfo">
            <div class="mb-3">
              <label for="originFloorCount">تعداد طبقات مبدا</label>
              <div class="input-group">
                <input type="number" min="0" class="form-control clearForm" id="originFloorCount" name="originFloorCount" placeholder=""
                  required="">
                <div class="invalid-feedback" style="width: 100%;">لطفا تعداد طبقات مبدا را وارد کنید.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="destinationFloorCount">تعداد طبقات مقصد</label>
              <div class="input-group">
                <input type="number" min="0" class="form-control clearForm" id="destinationFloorCount"  name="destinationFloorCount" placeholder=""
                  required="">
                <div class="invalid-feedback" style="width: 100%;">لطفا تعداد طبقات مقصد را وارد کنید.</div>
              </div>
            </div>
            <p>مبدا آسانسور باربری دارد یا خیر؟</p>
            <input type="radio" id="origin_elev_yes" name="originElevatorExist" value="1">
            <label for="origin_elev_yes">بله</label>
            <input type="radio" id="origin_elev_no" name="originElevatorExist" value="0">
            <label for="origin_elev_no">خیر</label>
            <p>مقصد آسانسور باربری دارد یا خیر؟</p>
            <input type="radio" id="dest_elev_yes" name="destinationElevatorExist" value="1">
            <label for="dest_elev_yes">بله</label>
            <input type="radio" id="dest_elev_no" name="destinationElevatorExist" value="0">
            <label for="dest_elev_no">خیر</label>
          </div>
        </div>
        <div class="row justify-content-center">
          <hr class="mb-4">
          <p class="mb-4">* ثبت سفارش به معنای قبول کردن قوانین و ضوابط نوبار می باشد.</p>
          <p id="error3" class="success"></p>
          <button class="btn btn-primary btn-lg btn-block" style="width: 100px;" type="submit">ثبت</button>
        </div>
      </form>
    </div>
    <div class="order-right-dec">
      <img src="/assets/images/order-right-dec.png" alt="">
    </div>
    <div>
      <img src="/assets/images/footer-dec.png" alt="">
    </div>
  </div>
  <!-- ***** Order End ***** -->

  <!-- ***** Contact Us Start ***** -->
  <div id="contact" class="contact-us section">
    <div class="container">
      <h2 style="margin-bottom: 30px;">ارتباط با ما</h2>
      <div class="row">
        <div class="col-sm-12 align-self-center">
          <form id="contactUsForm" class="row">
            <div class="col-lg-12">
              <fieldset>
                <input type="name" name="name" id="name" placeholder="نام" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="surname" name="surname" id="surname" placeholder="نام خانوادگی" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل" required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea id="website" name="comment" rows="4" cols="50" placeholder="پیام خود را بنویسید."
                  required></textarea>
                <p id="error6" class="success"></p>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="main-button">ارسال پیام</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="info">
            <span><i class="fa fa-phone"></i> <a href="#">09337397763<br>09152201537</a></span>
            <span><i class="fa fa-envelope"></i> <a href="#">info@company.com<br>mail@company.com</a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-dec">
      <img src="/assets/images/contact-dec.png" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="/assets/images/contact-left-dec.png" alt="">
    </div>
  </div>
  <!-- ***** Contact Us End ***** -->

  <!-- ***** Footer Start ***** -->
  <div class="footer-dec">
    <img src="/assets/images/footer-dec.png" alt="">
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="about footer-item">
            <div class="logo">
              <a href="#"><img src="/assets/images/logo.png" alt="NoBar"></a>
            </div>
            <a href="#">info@company.com</a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services footer-item">
            <h4>سرویس ها</h4>
            <ul>
              <li><a href="#">حمل بار بین شهری</a></li>
              <li><a href="#">اسباب کشی</a></li>
              <li><a href="#">بسته بندی بار</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="subscribe-newsletters footer-item">
            <h4>خبرنامه نوبار را دنبال کنید</h4>
            <p>تا در جریان جدید ترین اخبار ما باشید.</p>
            <form action="#" method="get">
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل خود را وارد کنید."
                required="">
              <button type="submit" id="form-submit" class="main-button"><i class="fa fa-paper-plane-o"></i></button>
          
            </form>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2023 NoBar Co., All Rights Reserved.
              <br>
              Zahra Ardaneh - Bahareh Keivani
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer End ***** -->


  <!-- ***** Scripts ***** -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  <script src="/assets/js/animation.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- order : checking validations-->
  <script>
    (function () {
      'use strict'
      $("input:radio").change(function () {
        console.log(this);
        var forms;
        if (this.value == '1' && this.name == 'orderType') {
          forms = document.getElementsByClassName('needs-validation')
        } else if (this.value == '0' && this.name == 'orderType') {
          forms = document.getElementsByClassName('needs-validation-delivery')
        }
        Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
      }, false)
    }())
  </script>
  <!--show extra infos for order-->
  <script>

    $("input:radio").change(function () {
      const list = document.getElementById("carTypeRadio");
      if (this.value == '1' && this.name == 'orderType') {
        $('#moving-extraInfo').show();
        list.innerHTML = '<p>کامیون</p1>'

      } else if (this.value == '0' && this.name == 'orderType') {
        $('#moving-extraInfo').hide();
        list.innerHTML = (
          '<input type="radio" class="mt-1" id="carTypeVanet" name="orderCarType" value="1">' +
          '<label for="carTypeVanet">وانت &nbsp</label>' +
          '<input type="radio" id="carTypeNeisan" name="orderCarType" value="0">' +
          '<label class="mb-4" for="carTypeNeisan">نیسان</label>')
      }
    });


    const baseRoute = "http://127.0.0.1:4000/v1";
    const orderForm = document.getElementById('orderForm');
    orderForm.addEventListener('submit', async event => {
      event.preventDefault();

      const formData = new FormData(orderForm);
      data = {};
      for (const [key, value] of formData) {
        data[key] = value;
      }
      
      console.log(data);
      axios.defaults.withCredentials = true;
      axios.post(`${baseRoute}/addRequest`, data).then((response) => {
        //based on responses success an error must be shown or the page must be redirected to dashbord
        let temp = document.getElementById('error3');
        if (!response.data.success) {
          temp.style.display = "block";
          temp.textContent = response.data.message;
        } else {
          temp.style.display = "block";
          temp.textContent = response.data.message;
          orderForm.reset();
        }
      })
        .catch((error) => console.log(error));

    });

    const logout = document.getElementById('logout');
    // console.log(orderForm);
    logout.addEventListener('click', async event => {
      event.preventDefault();

      axios.get(`${baseRoute}/logout`).then((response) => {
        //based on responses success an error must be shown or the page must be redirected to dashbord
        // console.log("res ",response);
        // document.cookie = "token" + "=" +
        //   ";path="+"=/"+
        //   ";domain="+"http://127.0.0.1:3000"+
        //   ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
        // document.cookie = "token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
        document.cookie = "token" + '=; Max-Age=-99999999;';
        window.history.pushState("", "", "/home");

        location.reload()
      })
        .catch((error) => console.log(error));

    });

  </script>

  <!-- contact us script -->
  <script>
    const contactUs = document.getElementById('contactUsForm');
    console.log(contactUs);
    contactUs.addEventListener('submit', event => {
      const baseRoute = "http://127.0.0.1:4000/v1";
      event.preventDefault();
      console.log("what even");
      const formData = new FormData(contactUs);
      data = {};
      for (const [key, value] of formData) {
        data[key] = value;
      }
      axios.defaults.withCredentials = true;
      console.log("data s ", data);
      axios.post(`${baseRoute}/postComment`, data).then((response) => {
        let temp = document.getElementById('error6');
        temp.style.display = "block";
        temp.textContent = response.data.message;
      })
        .catch((error) => console.log(error));

    });
  </script>

</body>

</html>