<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="نوبار اولین سامانه حمل و نقل بار">
  <meta name="author" content="نوبار">
  <meta name="keywords" content="trasport,truck,delivery,nobar,cargo,moving,furniture,apartment,transfer,rent,worker,car,کامیون,وانت,نیسان">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>نوبار</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/animated.css">
</head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img height="75px" src="/assets/images/logo.png">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">خانه</a></li>
              <li class="scroll-to-section"><a href="#about">درباره ما</a></li>
              <li class="scroll-to-section"><a href="#contact">ارتباط با ما</a></li>
              <li class="scroll-to-section"><a href="#faq">سوالات متداول</a></li>
              <li class="scroll-to-section">
                <div class="main-red-button-hover"><a href="/login">ورود/ثبت نام</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>"Menu"</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** HOME Start ***** -->
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-7 align-self-center">
              <img src="/assets/images/main-banner.png" alt="">
            </div>
            <div class="col-lg-5 align-self-center">
              <div class="item header-text">
                <h2>تجربه <em>متفاوت</em> اسباب کشی و حمل بار</h2>
                <p> نوبار با هدف تسهیل فرآیندهای اسباب کشی و جابجایی و حمل بار، کلیه امور و نیازمندی‌های لازم از
                  برنامه‌ریزی تا اجرا را برای شما فراهم می کند. </p>
                <div class="down-buttons">
                  <div class="main-blue-button-hover">
                    <a href="#contact">ارتباط با ما</a>
                  </div>
                  <div class="call-button">
                    <a href="#"><i class="fa fa-phone"></i>09337397763</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ***** Home End ***** -->

  <!-- ***** About Start ***** -->
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="/assets/images/about-banner.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>نوبار، <em>اولین</em> سامانه حمل بار با <span>بیمه بار</span></h2>
            <p>
              نوبار اولین سامانه حمل بار و باربری آنلاین است که با همکاری بیمه ایران امکان بیمه کردن اسباب و وسایل را
              برای مشتریان خود فراهم کرده است.
              نوبار تمام آنچه را برای اثاث‌کشی بی‌دغدغه نیاز دارید برایتان فراهم می‌کند.
              در نوبار برای روز موردنظرتان کامیون باربری، وانت، نیسان یا بسته بندی و چیدمان رزرو کنید. با ثبت سفارشتان
              در سایت یا،
              نوبار تضمین می‌کند هزینه باربری ثابت خواهد بود و در پایان لازم نیست هیچ مبلغ اضافه‌تری بپردازید
            </p>
            <div class="row">
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="icon">
                    <img src="/assets/images/service-icon-01.png" alt="">
                  </div>
                  <div class="count-title">پشتیبان متعهد</div>
                  <p>پشتیبانی نوبار در هر ساعت از شبانه روز آماده پاسخگویی به شما هستند</p>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="icon">
                    <img src="/assets/images/service-icon-02.png" alt="">
                  </div>
                  <div class="count-title">بیمه بار و جبران خسارت</div>
                  <p>تمامی وسایل شما در طی حمل اسباب کشی توسط بیمه ایران، بیمه میشود</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="icon">
                    <img src="/assets/images/service-icon-03.png" alt="">
                  </div>
                  <div class="count-title">قیمت هوشمند و قطعی</div>
                  <p>قیمت گذاری ها بصورت هوشمند و اتوماتیک میباشد بدون هیچ گونه هزینه اضافی</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Start End ***** -->

  <!-- ***** Contact Us Start ***** -->
  <div id="contact" class="contact-us section">
    <div class="container">
      <h2 style="margin-bottom: 30px;">ارتباط با ما</h2>
      <div class="row">
        <div class="col-sm-12 align-self-center">
          <form id="contactUsForm" class="row">
            <div class="col-lg-12">
              <fieldset>
                <input type="name" name="name" id="name" placeholder="نام" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="surname" name="surname" id="surname" placeholder="نام خانوادگی" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل" required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea id="website" name="comment" rows="4" cols="50" placeholder="پیام خود را بنویسید."
                  required></textarea>
                <p id="error6" class="success"></p>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="main-button">ارسال پیام</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="info">
            <span><i class="fa fa-phone"></i> <a href="#">09337397763<br>09152201537</a></span>
            <span><i class="fa fa-envelope"></i> <a href="#">info@company.com<br>mail@company.com</a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-dec">
      <img src="/assets/images/contact-dec.png" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="/assets/images/contact-left-dec.png" alt="">
    </div>
  </div>
  <!-- ***** Contact Us End ***** -->

  <!-- ***** FAQ Start ***** -->
  <div id="faq" class="faq section">
    <div class="container">
      <h2 style="margin-bottom: 30px;">سوالات متداول</h2>
      <div class="row">
        <div class="col-sm-12 align-self-center">
          <button class="accordion">+ نوبار چه خدماتی ارائه می دهد؟</button>
          <div class="accordion-panel">
            <p>نوبار خدمات حمل بار با کامیون، نیسان و وانت، و همچنین خدمات کارگری از جمله خدمات بسته بندی، چیدمان و فنی
              را ارائه می دهد.</p>
          </div>

          <button class="accordion">+ تفاوت نوبار با سایر شرکت های حمل بار چیست؟</button>
          <div class="accordion-panel">
            <p>قیمت های نوبار ثابت و بدون افزایش است. ثبت سفارشات اسباب کشی در نوبار به صورت اینترنتی از طریق وب سایت یا
              اپلیکیشن اندروید نوبار انجام می شود. بنابراین شما می توانید از ابتدا قیمت نهایی خود را ببینید و تصمیم گیری
              کنید. در نوبار درخواست انعام اجباری نیز ممنوع است.</p>
          </div>

          <button class="accordion">+ هزینه حمل بار و خدمات باربری نوبار چقدر است؟</button>
          <div class="accordion-panel">
            <p>نوبار برخلاف باربری های دیگر هزینه ساعت اضافه ندارد. بر اساس مشخصات سفارش شما سیستم نوبار زمان حمل بار
              شما را تخمین می زند و قیمت ثابتی را به شما اعلام می کند. تیم باربری نوبار ملزم به حضور در محل در ساعت
              تعیین شده و یک بارگیری و تخلیه است.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** FAQ end ***** -->

  <!-- ***** Footer Start ***** -->
  <div class="footer-dec">
    <img src="/assets/images/footer-dec.png" alt="">
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="about footer-item">
            <div class="logo">
              <a href="#"><img src="/assets/images/logo.png" alt="NoBar"></a>
            </div>
            <a href="#">info@company.com</a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services footer-item">
            <h4>سرویس ها</h4>
            <ul>
              <li><a href="#">حمل بار بین شهری</a></li>
              <li><a href="#">اسباب کشی</a></li>
              <li><a href="#">بسته بندی بار</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="subscribe-newsletters footer-item">
            <h4>خبرنامه نوبار را دنبال کنید</h4>
            <p>تا در جریان جدید ترین اخبار ما باشید.</p>
            <form action="#" method="get">
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل خود را وارد کنید."
                required="">
              <button type="submit" id="form-submit" class="main-button"><i class="fa fa-paper-plane-o"></i></button>
          
            </form>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2023 NoBar Co., All Rights Reserved.
              <br>
              Zahra Ardaneh - Bahareh Keivani
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer End ***** -->

  <!-- Scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  <script src="/assets/js/animation.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("activefaq");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>

  <!-- contact us script -->
  <script>
    const contactUs = document.getElementById('contactUsForm');
    console.log(contactUs);
    contactUs.addEventListener('submit', event => {
      const baseRoute = "http://127.0.0.1:4000/v1";
      event.preventDefault();
      console.log("what even");
      const formData = new FormData(contactUs);
      data = {};
      for (const [key, value] of formData) {
        data[key] = value;
      }
      axios.defaults.withCredentials = true;
      console.log("data s ", data);
      axios.post(`${baseRoute}/postComment`, data).then((response) => {
        let temp = document.getElementById('error6');
        temp.style.display = "block";
        temp.textContent = response.data.message;
      })
        .catch((error) => console.log(error));

    });
  </script>

</body>

</html>